################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TicTacToeConsoleApp/.vs/TicTacToeConsoleApp
/TicTacToeConsoleApp/TicTacToeConsoleApp/bin/Debug/net5.0
/TicTacToeConsoleApp/TicTacToeConsoleApp/obj
